aws {
    region = 'us-east-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    executor = 'awsbatch'

    withLabel: process_high {
        queue = 'neoantigen-cpu-standard'
    }
    withLabel: process_medium {
        queue = 'neoantigen-cpu-light'
    }
    withLabel: process_low {
        queue = 'neoantigen-cpu-light'
    }
    withLabel: process_gpu {
        queue = 'neoantigen-gpu-parabricks'
    }
}

workDir = 's3://neoantigen-pipeline-workdir/nextflow'
