// Test profile: runs from VCF entry point using demo TCGA-SKCM patient
// Skips modules 1-4, exercises modules 5-11

params {
    patient_id          = 'TCGA-DF-A2KN'
    tumor_type          = 'SKCM'
    vcf                 = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/somatic_annotated.vcf.gz"
    cnv_segments        = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/cnv_segments.tsv"
    hla_alleles         = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/hla_alleles.txt"
    expression          = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/expression_tpm.tsv"

    // Pre-computed binding predictions (skip NetMHCpan if not licensed)
    binding_predictions = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/binding_predictions.tsv"
    candidates_fasta    = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/candidates.fasta"
    candidates_meta     = "${projectDir}/demo/tcga_skcm/TCGA-DF-A2KN/candidates_meta.tsv"

    weight_profile      = 'high_tmb'
    structural_scoring  = false
    outdir              = "${projectDir}/test_results"
}
